/* Mulish from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* Shared styles */

:root {
    --primary_color: #FF5400;
    --title_color: #131318;
    --description_color: #5A5A5D;
}

.primary_description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--description_color);
}

.primary_title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--title_color);
}

.primary_button {
    width: 174px;
    height: 52px;
    border: none;
    background-color: var(--primary_color);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 5px;
}

/* Header related styles */

header {
    margin: 30px 130px;
}

/* nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 30px 130px; */
}

nav h3 {
    font-size: 2.25rem;
    font-weight: 800;
    padding-left: 1rem;
}

.company_name {
    display: flex;
    align-items: center;
}

.travle {
    color: var(--primary_color);
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 44px;
}

.nav_a {
    text-decoration: none;
    color: #424247;
    font-size: 1.1rem;
    font-weight: 400;
}

.nav_a:hover {
    background: lightgray;
}

#home {
    color: var(--primary_color);
}

/* Header image content related style */

/* Main related styles */

main {
    margin: 30px 130px;
}

/* Section One related styles */

.section_one_tours {
    display: flex;
}

.section_one_tours_div_one {
    padding-right: 60px;
}

.section_one_tours_li {
    margin-bottom: 20px;
}

/* Section Two related styles */

/* .section_two{
    text-align: center;
} */

.section_two_container {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#section_two_title {
    text-align: center;
    margin-bottom: 0;
}

#section_two_description {
    text-align: center;
    margin-top: 24px;
}

/* Footer related styles */

footer {
    height: 500px;
    background: rgba(19, 19, 24, 0.05);
}

.footer_container {
    text-align: center;
}

.footer_title_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_title {
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 800;
}

.footer_description {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile screen responsive */
@media screen and (max-width:600px) {

    header,
    main {
        margin: 10px 20px;
    }

    .primary_description {
        font-size: 0.8rem;
    }

    .primary_title {
        font-size: 1.25rem;
    }

    .logo {
        width: 38px;
        height: 33px;
    }

    nav h3 {
        font-size: 1.3rem;
        font-weight: 800;
        padding-left: 0.5rem;
    }

    nav ul {
        display: none;
    }

    /* section one */
    .section_one_tours {
        flex-direction: column;
    }

    .section_one_tours_div_one {
        padding: 10px;
    }

    .section_one_tours_div_two {
        text-align: center;
    }

    .section_one_tours_div_image {
        width: 320px;
        margin-top: 30px;
    }

    /* section two */

    .section_two_container {
        width: 300px;
    }

}

/* Other styles */
@media screen and (min-width:600px) and (max-width:30000px) {
    nav>img {
        display: none;
    }
}