/* Mulish from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* Shared styles */

:root {
    --primary_color: #FF5400;
    --discription_color: #131318b3;
}

/* Header related styles */

/* nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 130px;
}

nav h3 {
    font-size: 2.25rem;
    font-weight: 800;
    padding-left: 1rem;
}

.company_name {
    display: flex;
    align-items: center;
}

.travle {
    color: var(--primary_color);
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 44px;
}

.nav_a {
    text-decoration: none;
    color: #424247;
    font-size: 1.1rem;
    font-weight: 400;
}

.nav_a:hover {
    background: lightgray;
}

#home {
    color: var(--primary_color);
}

/* Mobile screen responsive */
@media screen and (max-width:600px) {
    nav {
        margin: 10px 30px;
    }

    .logo {
        width: 38px;
        height: 33px;
    }

    nav h3 {
        font-size: 1.3rem;
        font-weight: 800;
        padding-left: 0.5rem;
    }

    nav ul {
        display: none;
    }

}

@media screen and (min-width:600px) and (max-width:30000px) {
    nav>img {
        display: none;
    }
}